* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: whitesmoke;
    
    color: black;
    transition: background-color 700ms ease;
}
img {
    width: 100%;
    margin-bottom: 10px;
}
button:focus {
    outline: none;
    background-color: white;
}
a{
    color: white;
}
 header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 1%;
    margin-bottom: 10px;
    background-color: black;
    position: sticky;
    z-index: 500;
    top: 0%;
 }
h1 {
    color:blanchedalmond;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
}
p {
    line-height: 1.8;
    color: black;
}

select {
    display: inline;
    text-align: center;
    border: 1px solid white;
    background-color: black;
    color: white; 
}
#boton-carrito {
    border: solid;
    color: black;
    font-size: 15px;
    background-color: white;
    border-radius: 30%;
    padding: 10px 20px;
    transition: all .1s;
}

#boton-carrito:hover {
    cursor: pointer;
    color: white;
    background-color: black;
}
#boton-carrito:focus {
    outline: none;
}

#contenedor-productos {
    max-width: 1200px;
    margin: 60px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.btnModo{
    
    display:block;
    width:70px;
    height:70px;
    color:#fff;
    position: fixed;
    
    bottom:20px;
    border-radius:50%;
    line-height:80px;
    text-align:center;
    z-index:999;
    
   

}

.botones{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    margin: 1%;
}

.logo{
    width: 100px;
}
.btn-floating i {
    width: inherit;
    display: inline-block;
    text-align: center;
    color: #fff;
    font-size: 1.6rem;
    line-height: 40px;
    background-color: black;
}
.btn-floating i:hover{
    background-color: red;
}
.producto {
    max-width: 30%;
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: stretch;
    
}
.modal-contenedor {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #0000004d;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
    opacity: 0;
    visibility: hidden;
}


.modal-active {
    opacity: 1;
    visibility: visible;
    z-index: 5;
}

.modal-carrito {
    position: relative;
    background-color: white;
    min-width: 500px;
    padding: 20px;
    margin-top: -100%;
    transition: all .5s;
    overflow-y:scroll;
    overflow-x:hidden;
    height: auto;
    display: grid;
    justify-content: stretch;
    border-radius: 5%;
}

.modal-active .modal-carrito {
    margin-top: 0;
}

.modal-carrito h3 {
    color: black;
    padding-bottom: 5px;
}
.modal-carrito #carritoCerrar {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    color: red;
    border: none;
    background-color: white;
}
.modal-carrito #carritoCerrar:hover {
    cursor: pointer;
}
.modal-carrito #carritoCerrar:focus {
    outline: none;
}
.modal-carrito .precioProducto {
    padding-top: 10px;
    
}

.modal-footer{
    display: flex;
    justify-content: space-between;
    padding: 0.75rem;
    border-top: 5px solid black;

}



.card .card-image .card-title{
    color :black;
    position:unset;
    display: grid;
    margin: 0%;
    padding: 13%;
}
.card .card-content{
    padding: 11px;
    border-radius: 0 0 2px 2px;
}
/* carito de compras */
.productoEnCarrito {
    border-left: 5px solid white;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    margin: 5px 0;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
}
.productoEnCarrito:hover {
    border-left: 5px solid black;
}

.boton-eliminar {
    background-color: white ;
    color: red;
    border: none;
    font-size: 20px;
}

.boton-eliminar:hover {
    cursor: pointer;
}
.boton-eliminar:focus {
    outline: none;
}

#finCompra{
    display: none;
}


/* bnt whatsapp */
.btn-whatsapp{
    display:block;
    width:70px;
    height:70px;
    color:#fff;
    position: fixed;
    right:20px;
    bottom:20px;
    border-radius:50%;
    line-height:80px;
    text-align:center;
    z-index:999;
}

/*-MODO OSCURO*/

.darkMode {
    background-color: black;
    color: white;
   
}

#finCompra{
    outline: none;
    background-color: white;
}



/* fotter */
.contact-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    max-width: 840px;
}


.social-media-list {
    position: relative;
    font-size: 22px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.social-media-list li a {
    color: #000000;
}

.social-media-list li {
    position: relative;
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 10px 3px;
    line-height: 60px;
    border-radius: 50%;
    color: #fff;
    background-color: rgb(27, 27, 27);
    cursor: pointer;
    transition: all .2s ease-in-out;
}



.social-media-list li:hover {
    background-color: #fff;
}

.social-media-list li:hover:after {
    opacity: 1;
    transform: scale(1.12);
    transition-timing-function: cubic-bezier(0.37, 0.74, 0.15, 1.65);
}

.social-media-list li:hover a {
    color: #000;
}


.copyright {
    font: 200 14px 'Poppins', sans-serif;
    color:white;
    letter-spacing: 1px;
    text-align: center;

}


#contact {
    width: 100%;
    height: 100%;
    background-color: #222;
}


